<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baking.siva.bakingrecipe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.example.android.mymovies.TERMS_READ" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="baking-siva"
                    android:scheme="baking-recipe" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecipeDetailActivity"
            android:label="RecipeDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RecipeStepsActivity"
            android:label="RecipeSteps"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.baking.siva.bakingrecipe.MainActivity" />
        </activity>

        <receiver android:name=".BakingWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/baking_widget_provider_info" />
        </receiver>

        <provider
            android:name=".data.RecipeContentProvider"
            android:authorities="com.baking.siva.bakingrecipe.data"
            android:exported="true" />

        <service
            android:name=".GridWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name=".util.IngActivity"
            android:label="Ingredient List"></activity>
    </application>

</manifest>